.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.home-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: left;
    margin-top: 50px;
    font-size: 70px;
    max-width: 700px;
}

.home-desc {
    font-family: 'Arial', sans-serif;
    color: #555;
    text-align: left;
    font-size: 22px;
    max-width: 600px;
    margin: 0;
}

.home-button {
    text-decoration: none;
    color: white;
    background-color: #76b8ff;
    padding: 8px 30px;
    border-radius: 10px;
    border: 3px solid rgb(64, 172, 255);
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

.highlight {
    color: rgb(64, 172, 255);
}